:root {
--color00: #000d10;
--color01: #000d10;
--color02: #000d10;
--color03: #2cd085;
--color04: #fcfdfe;
--color05: #fcfdfe;
--color06: #fcfdfe;
--color07: #fcfdfe;
--color08: #22f9b9;
--color09: #4ff9fd;
--color0A: #b2fdff;
--color0B: #3dffe5;
--color0C: #3d78ff;
--color0D: #3db7ff;
--color0E: #72b4fc;
--color0F: #64ffd1;
}
